/* Components Styles */

.large-button {
    display: grid;
    z-index: 1;
    position: relative;
    padding: 0 2em;
    aspect-ratio: 1;
    border-radius: 50%;
    text-decoration: none;
}

.large-button::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: hsl( var(--clr-white) / 0.15);
    opacity: 0;
    transition: opacity 700ms linear, transform 500m ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.25);
}