/* ------------------- CSS Reset -------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
}

body,
h1, h2, h3, h4, h5,
p,
ul, ol, li,
figure, picture {
    margin: 0;
    padding: 0;
    border: 0;
}

image,
picture {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Accessibility - remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}


/* ------------------ Utility classes ------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    max-width: 80rem;
    padding-inline: 2em;
    margin-inline: auto;
}

/* Accessibility - screen reader only - We can hide text and that hidden text can be read by screen reader */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}